#body{
    height:700px;
    /* background: #000; */
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN9VpKrZ22PA-JyIEdvxmkp2qLYHLhKkxrEA&usqp=CAU'); */
    /* background-repeat: no-repeat; */
    /* background-size: 100% 100%; */
}

#calc-container{
    display: flex;
    /* width:100%; */
    height:100%;
    align-items: center;
    justify-content: center;

}

#calc{
    height: 350px;
    width: 250px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5%;
    box-shadow: 5px 10px 10px #888888;
}
#result-screen{
    width: 90%;
    margin: 80px 3% 3% 3%;
    height: 30px;
    text-align: right;
    font-weight: bold;
    font-size: 1.5em;
    background-color: black;
    border-style: hidden;
    color: #fff;

}
.button{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* input{
    opacity: 0.8;
} */

input:hover{
    opacity: 0.7;
}

.grey{
    background-color: #aaa;
    color: black;
}

.darkgrey{
    background-color: #333;
    color: #fff;
}

.yellow{
    background-color: #f08b07;
    color: #fff;
}

#zero{
    width: 90%;
    border-radius: 25px;
}